* {
    margin: 0;
    padding: 0;
}

#digital {
    width: 20%;
    margin: 0 auto 10px auto;
    padding: 10px;
    border: 4px solid darkgray;
    color: rgb(0, 255, 0);
    background: black;
}

@media screen and (max-width: 767px) and (min-width: 321px) {
    #digital {
        width: 60%;
    }
}

@media screen and (max-width: 320px) {
    #digital {
        width: 70%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #digital {
        width: 30%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1201px) {
    #digital {
        width: 25%;
    }
}

#time {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#date {
    width: 75%;
    margin: auto;
    text-align: center;
}

#analog {
    border-radius: 50%;
    width: 15em;
    height: 15em;
    margin: 10px auto;
    padding: 5px;
    position: relative;
    border: 4px solid #000;
    background: #fff;
}

#analog::after {
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 5%;
    height: 5%;
    z-index: 10;
}

#hours-container, #minutes-container, #seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#hour-hand {
    background: #000;
    height: 20%;
    width: 2.5%;
    position: absolute;
    top: 30%;
    left: 48.75%;
    transform-origin: 50% 100%;
}

#minute-hand {
    background: #000;
    height: 40%;
    width: 2%;
    position: absolute;
    top: 10%;
    left: 49%;
    transform-origin: 50% 100%;
}

#second-hand {
    background: #f00;
    height: 45%;
    width: 1%;
    position: absolute;
    top: 14%;
    left: 49.5%;
    transform-origin: 50% 80%;
    z-index: 8; 
}

#hashmarks {
    width: 100%;
    height: 100%;
}

#twelve, #three, #six, #nine {
    position: absolute;
    border-radius: 8px;
    background: #000;
    margin: auto;    
}

#twelve, #six {
    width: 8%;
    height: 13%;
}

#three, #nine {
    width: 13%;
    height: 8%;
}

#twelve {
    transform-origin: center top;
    transform: translate(110px, -8px);
}

#three {
    transform-origin: right center;
    transform: translate(216px, 110px);
}

#six {
    transform-origin: center bottom;
    transform: translate(110px, 216px);
}

#nine {
    transform-origin: left center;
    transform: translate(-8px, 110px);
}
